nav {
    display: inline-block;
    position: absolute;
    right: 0
}

nav ul {
    display: inline-block;
    margin: 15px 0 0 0;
    vertical-align: top
}

nav li {
    display: inline-block;
    margin-right: 20px;
    border-bottom: 2px transparent solid;
    height: 35px;
    -o-transition: border-bottom .3s ease-in-out;
    -ms-transition: border-bottom .3s ease-in-out;
    -moz-transition: border-bottom .3s ease-in-out;
    -webkit-transition: border-bottom .3s ease-in-out;
    transition: border-bottom .3s ease-in-out
}

nav li:hover {
    border-bottom: 2px #fff solid
}

nav a {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    font-size: 13px

}

nav .social-links {
    display: inline-block;
    height: 30px;
    margin: 10px 20px 0 10px
}

nav .social-link {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 5px 0 0;
    padding: 0
}

nav .twitter {
    background: url(/Content/images/social-icons-small.png) no-repeat
}

nav .linked-in {
    background: url(/Content/images/social-icons-small.png) no-repeat -31px 0
}

nav .google-plus {
    background: url(/Content/images/social-icons-small.png) no-repeat -62px 0
}

nav .facebook {
    background: url(/Content/images/social-icons-small.png) no-repeat -93px 0
}