#intro {
	font-family: 'Merriweather', serif;
	font-size:20px;
	height: 460px;
	padding: 100px 0;
	text-align: center;

}

#intro p {
	width:450px;
	margin: 0 auto;
}

#cta {
	background: #ED2F35;
	height:220px;
	padding: 50px 0;
	text-align: center;
	color: #fff;
}

#cta p {
	margin:0 auto;
	font-size:36px;
	}

	#cta p.cta-title {
		font-size: 20px;
		margin-bottom: 20px;
	}

#services {
	background: #EBEBEB;
	padding: 100px 0;
}