// Variables
$form-border-color: darken($border-color, 10);
$form-border-color-hover: darken($form-border-color, 10);
$form-border-color-focus: $color-blue;
$form-border-radius: $border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $font-size;
$form-font-family: $sans-serif-font;

fieldset {
  background: $color-light-gray;
  border: $border;
  padding: 20px 2%;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  &.required:after {
    content: "*";
  }
  abbr {
    display: none;
  }
}

textarea,
input[type='text'],
input[type='password'],
select,
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(all, 0.2s, ease-in-out);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  padding: 10px 10px;
  width: 100%;


  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  //@include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

input[type="file"] {
  width: 100%;
}
